
body {
    background-color: black;
    margin: 0px;
    }

header {
    height: 40px;
    background-color: grey;
    margin-bottom: 20px;
    padding: 5px;
}

header h1 {
    margin: 0px;
    text-align: center;
    color: aliceblue;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: fit-content;
    margin: 0px auto;
}

aside {
    border: 3px solid grey;
    background-color: aliceblue;
}

#gameBoard {
    user-select: none;
    width: fit-content;
    border: 3px solid grey;
    padding: 10px;
    background-color: aliceblue;
    margin: 20px auto 0px auto;
}

#boardMenu {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#customMenu {
    margin-top: 10px;
    justify-content: center;
}

#mineInput {
    width: 32px;
    margin: 0px 10px;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    background-color: aliceblue;
    width: 120px;
    height: 8px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: grey;
    cursor: pointer
  }

p.sliderValue {
    color: aliceblue;
    padding-top: 4px;
    padding-bottom: 0px;
    margin: 0px;
}

#boardMenu button {
    transition-duration: 0.4s;
    cursor: pointer;
    color: aliceblue;
    border: none;
    padding: 5px;
    background-color: grey;
}

#boardMenu button:hover {
    background-color: aliceblue;
    color: grey;
}

#topOfBoard {
    display: flex;
    justify-content: space-between;
}

#topOfBoard h1 {
    margin-bottom: 10px;
    margin-top: 0px;
}

#flags {
    width: 64px;
}

#smile {
    cursor: pointer;
    flex-shrink: 3;
}

#time {
    width: 64px;
    text-align: right;
}

#tiles {
    display: block;
    margin: 0px auto;
}

div.tile {
    height: 30px;
    line-height: 30px;
    width: 30px;
    border: 1px solid grey;
    float: left;
    display: grid;
    place-items: center;
}

div.uncoveredTile {
    cursor: pointer;
    background-color: bisque !important;
}

div.nextRow {
    clear: left;
}

#webStorage {
    display: flex;
    justify-content: center;
    width: fit-content;
    border: 3px solid grey;
    padding: 2px;
    background-color: aliceblue;
    font-weight: bold;
    margin: 5px auto;
}

#webStorage button {
    float: left;
    transition-duration: 0.4s;
    cursor: pointer;
    color: aliceblue;
    border: none;
    background-color: grey;
    margin: auto 5px;
}

#webStorage button:hover {
    background-color: aliceblue;
    color: grey;
}

#storedValues p {
    margin: 0px 0px;
    float: left;
}

table, th, td {
    border: 1px solid grey;
    background-color: aliceblue;
    margin: 5px auto;
}