
body {
    background-color: whitesmoke;
    max-width: max-content;
    margin: 50px auto;
    padding: auto;
    }

.headings {
    display: flex;
    justify-content: space-between;
}

h1#smile {
    cursor: pointer;
}

div.tile {
    height: 50px;
    line-height: 50px;
    width: 50px;
    border: 1px solid black;
    float: left;
    text-align: center;
    font-weight: bold;
}

div.tile:hover {
    background-color: #ffe4c4b7;
}

div.uncoveredTile {
    cursor: pointer;
}

div.nextRow {
    clear: left;
}