
body {
    background-color: black;
    margin: 0px;
    }

header {
    height: 40px;
    background-color: grey;
    margin-bottom: 25px;
    padding: 5px;
}

header h1 {
    margin: 0px;
    text-align: center;
    color: aliceblue;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: fit-content;
    margin: 0px auto;
}

aside {
    border: 3px solid grey;
    background-color: aliceblue;
}

#gameBoard {
    user-select: none;
    width: fit-content;
    border: 3px solid grey;
    padding: 10px;
    background-color: aliceblue;
}

#boardMenu {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#boardMenu button {
    transition-duration: 0.4s;
    cursor: pointer;
    color: aliceblue;
    border: none;
    padding: 5px;
    background-color: grey;
}

#boardMenu button:hover {
    background-color: aliceblue;
    color: grey;
}

#topOfBoard {
    display: flex;
    justify-content: space-between;
}

#topOfBoard h1 {
    margin: 5px 0px;
}

#smile {
    cursor: pointer;
}

div.tile {
    height: 30px;
    line-height: 30px;
    width: 30px;
    border: 1px solid grey;
    float: left;
    display: grid;
    place-items: center;
}

div.tile:hover {
    background-color: aliceblue !important;
}

div.uncoveredTile {
    cursor: pointer;
}

div.nextRow {
    clear: left;
}

footer {
    text-align: center;
}